/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {

    /* Primary Colors */
    --soft-blue-color: hsl(215, 51%, 70%);
    --cyan-color: hsl(178, 100%, 50%);
    --cyan-transparent-color: hsla(178, 100%, 50%, 0.5);
    
    /* Neutral Colors */
    --dark-blue-color-bg: hsl(217, 54%, 11%);
    --dark-blue-color-line: hsl(215, 32%, 27%);
    --blue-color: hsl(216, 50%, 16%);
    --white-color: hsl(0, 0%, 100%);

    /* Font families */
    --ff-sans-serif: 'Outfit', sans-serif;

    /* Font weights */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 600;

    /* Font sizes */
    --fs-small-text: 16px;
    --fs-paragraph: 18px;
    
}

*, *::before, *::after {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--ff-sans-serif);
    background-color: var(--dark-blue-color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.wrapper{    
    margin: auto;
    max-width: 360px;
    border-radius: 30px;
}
.card{
    background-color: var(--blue-color);
    padding: 30px;
    border-radius: 20px;
    height: auto;
    box-shadow: 0px 20px 33px 20px rgb(12 22 38)
}
.photo{
    position: relative;
    width: 100%; 
}
.photo__img{
    border-radius: 20px;
    width: 100%;
    display: block;
}
.photo__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .8s ease;
    background-color: var(--cyan-transparent-color);
    border-radius: 20px;
}
.photo:hover .photo__overlay {
    opacity: 1;
    cursor: pointer;
}
.photo__overlay--view {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
h2{
    font-weight: var(--fw-semi-bold);
}
h2,
a{
    color: var(--white-color);
    cursor: pointer;
    transition: .8s ease;
}
h2:hover,
a:hover {
    color: var(--cyan-color);
}
p{
    font-size: var(--fs-paragraph);
    cursor: default;
}
.description__text p,
.description__author p{
    color: var(--soft-blue-color);
    font-weight: var(--fw-light);
}
.description__details--price p {
    color: var(--cyan-color);
    font-weight: var(--fw-regular);
}
.description__details--time p{
    color: var(--soft-blue-color);
    font-size: 16px;
    font-weight: var(--fw-regular);
}
.description__author p{
    font-size: var(--fs-small-text);
}
.description__author img{
    border: 1px solid var(--white-color);
    border-radius: 50%;
    height: 30px;
    margin-right: 20px;
}
.description__details,
.description__details--price,
.description__details--time,
.description__author {
    display: flex;
    flex-direction: row;  
    align-items: center;
}
.description__details{
    justify-content: space-between;
}
.description__details--price img,
.description__details--time img{
    margin-right: 10px;
}
hr{
    height: 1px;
    background-color:var(--dark-blue-color-line); 
    border-width: 0;
}