/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {

    /* Primary Colors */
    --soft-blue-color: hsl(215, 51%, 70%);
    --cyan-color: hsl(178, 100%, 50%);
    --cyan-transparent-color: hsla(178, 100%, 50%, 0.5);
    
    /* Neutral Colors */
    --very-dark-blue-color-bg: hsl(217, 54%, 11%);
    --very-dark-blue-color-line: hsl(215, 32%, 27%);
    --blue-color: hsl(216, 50%, 16%);
    --white-color: hsl(0, 0%, 100%);

    /* Font families */
    --ff-sans-serif: 'Outfit', sans-serif;

    /* Font weights */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 600;

    /* Font sizes */
    --fs-small-text: 16px;
    --fs-paragraph: 18px;
    
}

*, *::before, *::after {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--ff-sans-serif);
    background-color: var(--very-dark-blue-color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.shadow{
    box-shadow: 0px 40px 0px 60px rgb(12 23 40 / 76%);
    margin: auto;
    max-width: 360px;
    border-radius: 30px;
}
.card{
    background-color: var(--blue-color);
    padding: 30px;
    border-radius: 20px;
    height: auto;
    box-shadow: 0px 30px 1px 20px rgb(12 22 38);
}
.nft-item-container{
    position: relative;
    width: 100%;
    
}
.card .nft-item-photo{
    border-radius: 20px;
    width: 100%;
    display: block;
}
h2{
    font-weight: var(--fw-semi-bold);
}
h2,
a{
    color: var(--white-color);
    cursor: pointer;
}
h2:hover,
a:hover {
    color: var(--cyan-color);
}
p{
    font-size: var(--fs-paragraph);
}
.description p,
.creator p{
    color: var(--soft-blue-color);
    font-weight: var(--fw-light);
}
.price p {
    color: var(--cyan-color);
    font-weight: var(--fw-regular);
}
.time-left p{
    color: var(--soft-blue-color);
    font-size: 16px;
    font-weight: var(--fw-regular);
}
hr{
    height: 1px;
    background-color:var(--very-dark-blue-color-line); 
    border-width: 0;
}
.creator p{
    font-size: var(--fs-small-text);
}
img.avatar{
    border: 1px solid var(--white-color);
    border-radius: 50%;
    height: 30px;
    margin-right: 20px;
}
.price-time,
.price,
.time-left,
.creator {
    display: flex;
    flex-direction: row;  
    align-items: center;
}
.price-time{
    justify-content: space-between;
}
.price img, .time-left img{
    margin-right: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .8s ease;
    background-color: var(--cyan-transparent-color);
    border-radius: 20px;
  }
  
  .nft-item-container:hover .overlay {
    opacity: 1;
    cursor: pointer;
  }
  
  .view {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }